body {
    font-family: 'Playfair Display', serif;
    color: #00000;
    background-color: seagreen;
    padding: 100px 0px;

}


ul {
    padding: 0px;
}


li {
    list-style: none;
}




/* End of general body styling*/

                    /*********************************************/

/* Beginning of specific styling */


.body_block {
    position: relative;
    line-height: 2;
    width: 100%;
    max-width: 700px;
    border: 3px solid blue;
    margin: 0 auto;
    padding: 80px;
    background-color: white;
    text-align: center;
    border-radius: 30px;

}


.profile_pic {
    position: absolute;
    top: -120px;
    left: 30px;
    height: 250px;
    width: 300px;
    border-radius: 50%;
    background: url('../images/IMG_9708.jpg');
    background-size: cover;
    
    
}

.profile-name {
    font-family: 'Indie Flower', cursive;
    text-shadow: 5px;
/*    margin-left: 300px;*/
    font-weight: 600;
    font-style: italic;
    margin: 5px auto;
    color: #BC17DF;
}

.address {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 9px;
    margin-left: 0px;
    margin-right: 0px;
    color: #808080;
    
}

p.description {
    font-size: 16px;
    margin: 0px;
    text-align: left;
    
    
}


.list_info {
    font-size: 14px;
    margin: 0px;
    text-transform: uppercase;
    
}


.info_header {
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0px 6px 0px;
}


.social li {
    display: inline-block;
}

.clickable_btn {
    width: 40px;
    height: 40px;
    margin-left: 12px;
    -webkit-transition: 1s ease-in;
            transition: 1s ease-in;
}

.clickable_btn:hover {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
}