body {
    max-width: 100em;
    height: auto;
    margin: 0 auto;
}

* {
    font-size: 1em;
    
}

div {
    overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 2px;
}

.header_part {
    height: 55.625em;
    background-image: url(../images/header_bg.jpg);
    background-size: 100% 100%;
    position: relative;
}


.logo {
    position: absolute;
    top: 2.8125em;
    left: 3.25em;
}

.top_nav {
    float: right;
    color: white;
    list-style-type: none;
    margin-top: 3.5em;
}

.top_nav li {
    display: inline;
    padding: .063em;
}

.top_nav li a {
    padding-top: .75em;
    padding-bottom: .75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: white;
}

.top_nav li a:hover {
    background-color: #A4C926;
    border-radius: 20%;
}

.moto {
    position: absolute;
    top: 39em;
    left: 7.5em;
    color: white;  
}

.body_upper {
    height: 78.75em;
    background-color: #A2CA28;
}

.body_upper_top {
    margin: 0 auto;  
    height: 29.375em;
}


.body_upper_top div {
    padding-top: 6.8125em;
    padding-right: 3em;
    height: 29.375em;
    overflow: hidden;
    float: left;
    
}

.body_upper_top div a {
    color: #00AEEF;
    font-size: 1.3em;
}

.body_upper_middle {
    max-height: 24.625em;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
}

.body_upper_middle div {
    float: left;
}

.body_upper_middle div h3 {
    text-align: center;
    color: red;
}

.body_upper_middle div h1 {
    text-align: center;
    color: #A2CA28;
    
}

.body_upper_middle_right {
    background-image: url(../images/body_middle_img.png);
    background-size: 100% 100%;
    height: 24.625em;
    max-width: 49.6875em;
    float: right;
    position: relative;
}

.user_count {
    color: #FD634E;
    position: absolute;
    right: 38px;
    bottom: 45px;
}

.body_upper_lower {
    max-height: 24.625em;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
}

.body_upper_lower_left {
    background-image: url(../images/body_upper_lower_left_img.png);
    background-size: 100% 100%;
    height: 24.625em;
    max-width: 49.6875em;
    float: left;
    position: relative;
}

.product_count {
    position: absolute;
    bottom: 45px;
    left: 38px;
}

.body_upper_lower div h3 {
    text-align: center;
    color: red;
}

.body_upper_lower div h1 {
    text-align: center;
    color: #A2CA28;
    
}

.body_middle {
    background-color: #FD634E;
    height: 1298px;
    margin: 0 auto;
}

.body_middle_1st {
    margin: 0 auto;
}

.body_middle_1st div {
    float: left;
}

.body_middle_1st_left {
    background-image: url(../images/body_middle_1st_left_img.png);
    background-size: 100% 100%;
    height: 330px;
}

.body_middle_1st_right {
    background-image: url(../images/body_middle_1st_right_img.png);
    background-size: 100% 100%;
    height: 330px;
    position: relative;
}

#show_date {
    color: white;
    position: absolute;
    top: 60px;
    left: 60px;
}

.body_middle_1st_right_tag {
    color:  white;
    position: absolute;
    top: 60px;
    right: 60px;
}

.body_middle_2nd {
    height: 308px;
    background-color: white;
    margin: 0 auto;
}

.body_middle_2nd div {
    float: left;
}

.body_middle_2nd_left {
    height: 308px;
    background-color: white;
    position: relative;
    text-align: left;
    padding: 20px;
}

.body_middle_2nd_left_avatar {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
}

.body_middle_2nd_right {
    background-color: #A2CA28;
    height: 308px;
    color: white;
    padding: 20px;
}


.body_middle_3rd {
    height: 330px;
    margin: 0 auto; 
}

.body_middle_3rd div {
    float: left;
}

.body_middle_3rd_left {
    background-image: url(../images/body_middle_3rd_left_img.png);
    background-size: 100% 100%;
    height: 330px;
}


.body_middle_3rd_right {
    background-image: url(../images/body_middle_3rd_right_img.png);
    background-size: 100% 100%;
    height: 330px;
}

.body_middle_4th {
    min-height: 330px;
    margin: 0 auto;
}

.body_middle_4th div {
    float: left;
    padding: 20px;
    text-align: left;
}


.body_middle_4th_left {
    background-color: white;
    height: 330px;
    position: relative;
}

.body_middle_4th_left_berry {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 50px;
    width: 50px;
}


.body_middle_4th_right {
    background-color: #A2CA28;
    height: 330px;
    color: white;
    position: relative;
}


.body_middle_4th_right_logo {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 46px;
    width: 33px;
}


.body_lower {
    height: 50em;
    background-color: #FD634E;
    background-image: url(../images/body_lower_bg.png);
    background-size: 100% 100%;
    color: white;
    text-align: center;
    padding: 200px;
}

.footer {
    background-color: #0D1119;
    height: 770px;
    color: white;
}

.footer_main {
    padding-top: 70px;
    margin: 0 auto;
}

.footer_main div {
    float: left;
}


.footer_left {
    padding-right: 50px;
    
}

.footer_right {
    
}

.about_us {
    padding-right: 20px;
}

.social img {
    height: 56px;
    width: 52px;
    margin: 0 auto;
}

.name_input {
    width: 170px;
    height: 40px;
}

.email_input {
    width: 300px;
    height: 40px;
}

.news_subscription {
    width: 170px;
    height: 40px;
    background-color: #A2CA28;
    color: white;
}